.header {
    display: flex;
    justify-content: center;
    align-items: baseline;

    nav {
        ul {
            display: flex;
            gap: 0.8em;

            list-style: none;

            li {
                padding: 0.25em 0.5em;
                border-radius: var(--radius);

                // &:hover {
                //     background: var(--clr-gray-1);
                // }

                i {
                    display: flex;
                    justify-content: center;

                    path {
                        stroke-dasharray: 45px;
                        stroke-dashoffset: 45px;
                        animation: dash 500ms linear forwards;
                        @keyframes dash {
                            to {
                                stroke-dashoffset: 0;
                            }
                        }
                    }
                }

                font-weight: 500;
            }
        }
    }
}
