.page-card {
    display: flex;

    border: 1px solid var(--clr-border);
    border-radius: calc(var(--radius) + 8px);

    padding: 0.2em 0.5em;

    &__header {
        p {
            font-weight: 700;
        }
    }
}
