.report {
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    padding: 0.6em;

    border: 1px solid var(--clr-border);
    border-radius: var(--radius);

    min-width: 250px;

    display: flex;
    flex-direction: column;
    gap: 1em;

    &__date {
        font-weight: 500;

        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 1em;

        i {
            svg {
                width: 20px;
                height: 20px;
            }
        }

        &--green {
            color: var(--clr-accent-green-2);
        }
        &--red {
            color: var(--clr-accent-red-1);
        }
    }

    &__details {
        align-self: flex-end;
    }
}
