@use "./imports";
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Josefin+Sans:wght@400;500&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
}

html {
    scroll-behavior: smooth;

    line-height: 1.5;

    background-color: var(--clr-background);

    color: var(--clr-text);
}

body {
    -webkit-font-smoothing: antialiased;

    font-family: var(--ff-base);

    margin: 0;
}

p,
li,
h1,
h2,
h3,
h4 {
    overflow-wrap: break-word;

    hyphens: auto;
}

h1,
.h1 {
    --font-size: var(--headline-1);

    font-size: var(--headline-1);
}

h2,
.h2 {
    --font-size: var(--headline-2);

    font-size: var(--headline-2);
}

h3,
.h3 {
    --font-size: var(--headline-3);

    font-size: var(--headline-3);
}

h4,
.h4 {
    --font-size: var(--headline-4);

    font-size: var(--headline-4);
}

input,
button,
textarea,
select {
    font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

.layout--default {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    > main {
        padding: 0 0.4em;

        flex: 1;

        display: flex;
        flex-direction: column;

        .page {
            width: 100%;
        }
    }
}
