.page--home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;

    margin: 0 auto;

    gap: 0.8em;

    // background: radial-gradient(circle at center, var(--clr-gray-2) 0.5px, var(--clr-background) 0.5px);
    // background-size: 10px 10px;

    &__intro {
        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            justify-content: baseline;
            align-items: flex-end;

            gap: 0.4em;

            img {
                width: 80px;
                height: 80px;
            }

            > h1 {
                margin: 0;
            }
        }
        > p {
            margin-top: 0;

            text-align: center;

            color: var(--clr-gray-5);
        }
    }

    &__login-btns {
        display: flex;

        gap: 0.4em;
    }
}
