.page--login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;

    gap: 0.8em;

    h2 {
        margin: 0;
        font-weight: 500;
    }

    > form {
        display: flex;
        flex-direction: column;
        gap: 0.8em;

        width: 100%;
        max-width: 300px;

        > label {
            display: flex;
            flex-direction: column;

            gap: 0.4em;

            div {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                // > a {
                //     align-self: flex-end;
                // }
            }

            font-weight: 500;
        }
    }

    &__invalid {
        font-size: var(--small);
        text-align: center;
        color: var(--clr-accent-red-1);
    }

    &__links {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.4em;
    }

    @media (max-width: 600px) {
        flex: none;
    }
}
