.page--new-page {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    button {
        max-width: 64px;
    }

    span {
        font-weight: 700;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        > button {
            align-self: flex-end;
        }
    }

    &__urls {
        display: flex;

        align-items: flex-end;
        gap: 0.4rem;
    }

    &__add-urls {
        > div {
            display: flex;
            flex-direction: column;

            > button {
                align-self: flex-end;
            }

            input[type="checkbox"] {
                align-self: flex-end;
                margin-bottom: 0.7rem;
            }

            > div {
                display: flex;

                gap: 0.4rem;
            }
        }
    }

    &__empty {
        text-align: center;
    }
}
