.page--page {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &__back {
        max-width: fit-content;
    }

    &__btn-actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.6rem;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    &__cron {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    .section {
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;

        > input {
            align-self: end;
            margin-bottom: 0.7rem;
        }

        > label {
            display: flex;
            flex-direction: column;

            input {
                box-shadow: var(--shadow-1);
            }

            gap: 0.6rem;
        }
    }

    &__urls {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        > div {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }
    }

    &__empty-urls {
        text-align: center;
    }

    &__urls-edit {
        display: flex;
        justify-content: flex-end;
    }

    &__section-urls {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .subtitle {
        font-weight: bold;
    }

    &__add-url {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > div {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            > div {
                display: flex;
                justify-content: flex-end;
                gap: 0.6rem;
            }
        }
    }
}
