.page--report {
    margin: 0 auto;

    > h1 {
        text-align: center;
        margin-bottom: 0;
    }

    &__info {
        display: flex;
        align-items: baseline;
        gap: 0.4em;

        > h2 {
            font-weight: 500;
            margin-bottom: 0;
        }

        > i {
            width: 20px;
            height: 20px;
        }
    }

    &__stats {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }
}
